In [5]:
import numpy as np
import pandas as pd
import plotly.express as px
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import load_model

In [6]:
data = pd.read_csv('Churn_Modelling.csv')

In [7]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
data.shape

(10000, 14)

In [9]:
data.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

***Preprocess the data***

In [10]:
data = data.drop(columns=['RowNumber','CustomerId','Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

***Encoding the categorical data***

In [11]:
le_encoder = LabelEncoder()
data['Gender'] = le_encoder.fit_transform(data['Gender'] )
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [12]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [13]:
ohe_geography = OneHotEncoder(drop='first')
geo_encoded = ohe_geography.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = ohe_geography.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_Germany  Geography_Spain
0                   0.0              0.0
1                   0.0              1.0
2                   0.0              0.0
3                   0.0              0.0
4                   0.0              1.0
...                 ...              ...
9995                0.0              0.0
9996                0.0              0.0
9997                0.0              0.0
9998                1.0              0.0
9999                0.0              0.0

[10000 rows x 2 columns]

In [14]:
data = pd.concat([data.drop(columns=['Geography']), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,1.0

In [15]:
x = data.drop(columns = ['Exited'], axis=1)
y = data[['Exited']]

In [16]:
scalar = StandardScaler()
x = scalar.fit_transform(x)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  int64
 1   Gender             10000 non-null  int32
 2   Age                10000 non-null  int64
 3   Tenure             10000 non-null  int64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  int64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_Germany  10000 non-null  float64
 11  Geography_Spain    10000 non-null  float64
dtypes: float64(4), int32(1), int64(7)
memory usage: 898.6 KB

In [24]:
data.corr()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain
CreditScore,1.000000,-0.002857,-0.003965,0.000842,0.006268,0.012238,-0.005458,0.025651,-0.001384,-0.027094,0.005538,0.004780
Gender,-0.002857,1.000000,-0.027544,0.014733,0.012087,-0.021859,0.005766,0.022544,-0.008112,-0.106512,-0.024628,0.016889
Age,-0.003965,-0.027544,1.000000,-0.009997,0.028308,-0.030680,-0.011721,0.085472,-0.007201,0.285323,0.046897,-0.001685
Tenure,0.000842,0.014733,-0.009997,1.000000,-0.012254,0.013444,0.022583,-0.028362,0.007784,-0.014001,-0.000567,0.003868
Balance,0.006268,0.012087,0.028308,-0.012254,1.000000,-0.304180,-0.014858,-0.010084,0.012797,0.118533,0.401110,-0.134892
NumOfProducts,0.012238,-0.021859,-0.030680,0.013444,-0.304180,1.000000,0.003183,0.009612,0.014204,-0.047820,-0.010419,0.009039
HasCrCard,-0.005458,0.005766,-0.011721,0.022583,-0.014858,0.003183,1.000000,-0.011866,-0.009933,-0.007138,0.010577,-0.013480
IsActiveMember,0.025651,0.022544,0.085472,-0.028362,-0.010084,0.009612,-0.011866,1.000000,-0.011421,-0.156128,-0.020486,0.016732
EstimatedSalary,-0.001384,-0.008112,-0.007201,0.007784,0.012797,0.014204,-0.009933,-0.011421,1.000000,0.012097,0.010297,-0.006482
Exited,-0.027094,-0.106512,0.285323,-0.014001,0.118533,-0.047820,-0.007138,-0.156128,0.012097,1.000000,0.173488,-0.052667
Geography_Germany,0.005538,-0.024628,0.046897,-0.000567,0.401110,-0.010419,0.010577,-0.020486,0.010297,0.173488,1.000000,-0.332084
Geography_Spain,0.004780,0.016889,-0.001685,0.003868,-0.134892,0.009039,-0.013480,0.016732,-0.006482,-0.052667,-0.332084,1.000000

In [25]:
xtrain , xtest , ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=11, stratify=y)

In [26]:
xtrain.shape

(7000, 11)

In [27]:
xtest.shape

(3000, 11)

***Build ANN Model***

In [28]:
model = Sequential([
    Dense(units = 32, activation = 'relu', input_dim = xtrain.shape[1]),
    Dense(units = 16, activation = 'relu'),
    Dense(units = 8, activation = 'relu'),
    Dense(units = 1, activation = 'sigmoid')
])

***Compile the model***

In [29]:
model.compile(optimizer='adam',
             loss='binary_crossentropy',
             metrics=['accuracy'])

***Train the model***

In [30]:
history = model.fit(
    xtrain,
    ytrain,
    epochs=10,
    batch_size=100,
    validation_data=(xtest,ytest)
)

Epoch 1/10
70/70 [==============================] - 2s 10ms/step - loss: 0.6653 - accuracy: 0.6477 - val_loss: 0.5629 - val_accuracy: 0.7973
Epoch 2/10
70/70 [==============================] - 0s 5ms/step - loss: 0.5101 - accuracy: 0.7963 - val_loss: 0.4694 - val_accuracy: 0.7967
Epoch 3/10
70/70 [==============================] - 0s 4ms/step - loss: 0.4453 - accuracy: 0.8017 - val_loss: 0.4228 - val_accuracy: 0.8147
Epoch 4/10
70/70 [==============================] - 0s 5ms/step - loss: 0.4097 - accuracy: 0.8199 - val_loss: 0.3947 - val_accuracy: 0.8387
Epoch 5/10
70/70 [==============================] - 0s 4ms/step - loss: 0.3843 - accuracy: 0.8430 - val_loss: 0.3738 - val_accuracy: 0.8470
Epoch 6/10
70/70 [==============================] - 0s 4ms/step - loss: 0.3655 - accuracy: 0.8536 - val_loss: 0.3606 - val_accuracy: 0.8537
Epoch 7/10
70/70 [==============================] - 0s 4ms/step - loss: 0.3554 - accuracy: 0.8559 - val_loss: 0.3569 - val_accuracy: 0.8523
Epoch 8/10
70/70 [==============================] - 0s 3ms/step - loss: 0.3481 - accuracy: 0.8600 - val_loss: 0.3504 - val_accuracy: 0.8567
Epoch 9/10
70/70 [==============================] - 0s 3ms/step - loss: 0.3436 - accuracy: 0.8589 - val_loss: 0.3486 - val_accuracy: 0.8533
Epoch 10/10
70/70 [==============================] - 0s 3ms/step - loss: 0.3406 - accuracy: 0.8610 - val_loss: 0.3454 - val_accuracy: 0.8597

***Evaluate the model***

In [33]:
y_pred = (model.predict(xtest) > 0.5).astype(int)

94/94 [==============================] - 0s 3ms/step

In [34]:
accuracy_score(ytest, y_pred)

0.8596666666666667